.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin:10px;
    border-radius:8px;
    cursor:pointer;
}